<div class='container-fluid pt-4 pb-2 navbar-1'>
  <div class='container'>
    <div class='row'>
      <div class='col-3'>
        <div class='nav-title'>
          <h1>Logo</h1>
        </div>
      </div>
      <div class='col-9'>
        <div class='nav'>
          <input type='checkbox' id='nav-check' />
          <div class='nav-header'>

          </div>
          <div class='nav-btn'>
            <label for='nav-check'>
              <span></span>
              <span></span>
              <span></span>
            </label>
          </div>

          <div class='nav-links text-center century'>
            <a href='/'>HOME</a>
            <a href='/about'>ABOUT</a>
            <a href='/menu'>MENU</a>
            <a href='/blog'>BLOG</a>
            <a href='/gallery'>GALLERY</a>
            <a href='/contact'>CONTACT</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>