<!DOCTYPE html>
<html lang="en">
{{>links}}
<body>

    {{>header}}

    <div class="container-fluid main-img text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mt-5 pt-5">
        <h2 class="great  mt-5 pt-4">Welcome to</h2>
        <h4 class="century bar">Blog<br><br><br></h4>
        
      </div>
    
    
  </div>
  </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="century text-center">Blog</h1>
            <p>{{about.text}}</p>
            <p>{{about.text}}</p>
            <p>{{about.text}}</p>
            <p>{{about.text}}</p>
        </div>  
    </div>
</div>
    {{>footer}}
</body>
</html>