<!DOCTYPE html>
<html lang="en">
{{>links}}
<body>

    {{>header}}

    <div class="container-fluid main-img text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mt-5 pt-5">
        <h2 class="great  mt-5 pt-4">Welcome to</h2>
        <h4 class="century bar">Gallery<br><br><br></h4>
        
      </div>
    
    
  </div>
  </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="century text-center">Gallery</h1>
            <div class="row">
              <div class="col-md-3 my-3">
                <img src="./img/9.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-3 my-3">
                <img src="./img/10.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-3 my-3">
                <img src="./img/4.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-3 my-3">
                <img src="./img/6.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-3 my-3">
                <img src="./img/5.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-3 my-3">
                <img src="./img/6.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-3 my-3">
                <img src="./img/7.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-3 my-3">
                <img src="./img/8.jpg" class="img-fluid" alt="">
              </div>

              <div class="col-md-3 my-3">
                <img src="./img/9.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-3 my-3">
                <img src="./img/10.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-3 my-3">
                <img src="./img/4.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-3 my-3">
                <img src="./img/6.jpg" class="img-fluid" alt="">
              </div>
              
            </div>
        </div>  
    </div>
</div>
    {{>footer}}
</body>
</html>